.list-view .title, .text-title {
    font-family: TitleDev;
    color: #000000;
        display: inline-block;
    border-bottom: solid 5px #38a7bb;
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
    margin-top: 10px;
}

#luncuran .luncuran-caption h2, .navbar-default, .navbar-default .navbar-brand.with-subbrand div.sub-title {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}


.a {
    color: #000000;
    text-decoration: none;
}

.btd-right-menu .box-header .box-title {
    margin-top: 10px;
    font-family: TitleDev;
    font-weight: 700;
    color: #000000;
    color: #000000;
        display: inline-block;
    border-bottom: solid 5px #38a7bb;
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
    margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
    font-weight: bold;
}

.btd-card {
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 0;
    position: relative;
    padding: 10px 20px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
}

.btd-card.btd-card-top {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btd-card.btd-card-top:hover {
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#luncuran .carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-repeat: repeat-x;
}

#luncuran .carousel-control.right {
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-repeat: repeat-x;
}